.phs {
    &__title {
        margin-bottom: 40px;
    }

    &__descr {
        margin-bottom: 182px;
    }

    &__btn {
        width: 428px;
        margin: 0 auto;
        margin-bottom: 120px;
        padding: 16px 34.5px;

        span {
            padding-left: 55px;
            background: url('../assets/img/PHS/btn.svg') no-repeat center left;
        }
    }
}
