.capabilities {
    margin-bottom: 120px;
    &__title {
        margin-bottom: 60px;
        font-weight: 700;
        font-size: 36px;
        line-height: 130%;
    }

    &__list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        row-gap: 42px;
    }

    &__item {
        padding-left: 56px;
        padding-right: 40px;
        background: url('../assets/img/solutions/capabilities.svg') no-repeat top left;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
    }
}
