button {
    font-family: "Montserrat",sans-serif;
}

.white2blue-btn,
.white2orange-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 12px;
    background-color: transparent;
    border: 2px solid #FFFFFF;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    text-decoration: none;
    transition: border-color 0.4s, background-color 0.4s;
    cursor: pointer;
}

.white2blue-btn {
    &:hover {
        background-color: #1D4687;
        border-color: #1D4687;
    }
}

.white2orange-btn {
    padding: 9px 12px;

    &:hover {
        background-color: #EA5B21;
        border-color: #EA5B21;
    }
}

.blue2orange-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 18px 34.5px;
    background-color: #1D4687;
    border: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    text-decoration: none;
    transition: background-color 0.4s;
    cursor: pointer;

    &:hover {
        background-color: #EA5B21;
    }
}

.phs__btn,
.solutions__btn {
    width: 428px;
    margin: 0 auto;
    padding: 16px 34.5px;

    span {
        padding-left: 55px;
        background: url('../assets/img/PHS/btn.svg') no-repeat center left;
    }
}

.orange2red-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 16px;
    background-color: #EA5B21;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    text-decoration: none;
    transition: background-color 0.4s;

    &:hover {
        background-color: #FF0000;
    }
}

.blue-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 16px;
    background-color: transparent;
    border: 2px solid #1D4687;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #1D4687;
    text-decoration: none;
    transition: background-color 0.4s, color 0.4s;

    &:hover {
        background-color: #1D4687;
        color: #FFF;
    }
}
