.decorative {
    &__right {
        position: absolute;
        right: 0;
        z-index: -10;
        width: 617px;
        height: 680px;
        overflow: hidden;

        &::before {
            position: absolute;
            bottom: 0;
            width: 617px;
            background: url('../assets/img/decorative-right.webp') left bottom;
            content: "";
        }

        &--top {
            bottom: 7251px;

            &::before {
                height: 1591px;
            }
        }

        &--middle {
            bottom: 3815px;
            height: 1038px;

            &::before {
                height: 1038px;
            }
        }

        &--reviews {
            top: 700px;
            height: 1190px;
            width: 766px;

            &::before {
                height: 1190px;
                width: 766px;
            }
        }
    }

    &__left {
        position: absolute;
        z-index: -10;
        width: 777px;
        overflow: hidden;

        &::before {
            position: absolute;
            width: 777px;
            height: 1307px;
            top: 0;
            background: url('../assets/img/decorative.webp') right top;
            content: "";
        }

        &--middle {
            bottom: 4627px;
            height: 1307px;

            &::before {
                height: 1307px;
            }
        }

        &--bottom {
            bottom: 1230px;
            width: 846px;
            height: 1423px;

            &::before {
                width: 846px;
                height: 1423px;
            }
        }

        &--reviews {
            top: 700px;
            height: 1307px;

            &::before {
                height: 1307px;
            }
        }

        &--team {
            top: 700px;
            height: 1307px;
            width: 692px;

            &::before {
                width: 692px;
                height: 1307px;
            }
        }

        &--contacts {
            top: 700px;
            width: 866px;
            height: 1457px;

            &::before {
                width: 866px;
                height: 1457px;
                background-image: url('../assets/img/decorative-left.webp');
            }
        }
    }
}

