.gallery {
    &__name {
        max-width: 325px;
        margin-top: 32px;
        margin-bottom: 16px;
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
    }

    &__descr {
        font-weight: 400;
        font-size: 14px;
        line-height: 160%;
    }

    &__btn {
        width: 428px;
        margin: 80px auto;
        margin-bottom: 0;
    }

    &--estimate {
        margin-bottom: 114px;
    }

    &--project {
        margin-bottom: 104px;
    }
}
