@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 300;
    src: url("../assets/fonts/montserrat300.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    src: url("../assets/fonts/montserrat400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    src: url("../assets/fonts/montserrat500.woff2") format("woff2");
    font-display: swap;
}


@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    src: url("../assets/fonts/montserrat700.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 800;
    src: url("../assets/fonts/montserrat800.woff2") format("woff2");
    font-display: swap;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul,
li {
    list-style-type: none;
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    margin: 0 auto;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 14px;
}

header,
footer {
    flex-shrink: 0;
}

main {
    flex-grow: 1;
}

.main-content {
    max-width: 1430px;
    margin: 0 auto;
    padding: 0 50px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.modal-open {
    overflow: hidden;
}

input[type="search"]::-webkit-input-placeholder {
    color: #FFF;
}

input[type="search"]::-moz-placeholder {
    color: #FFF;
}

