@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 300;
    src: url("../assets/fonts/montserrat300.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    src: url("../assets/fonts/montserrat400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    src: url("../assets/fonts/montserrat500.woff2") format("woff2");
    font-display: swap;
}


@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    src: url("../assets/fonts/montserrat700.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 800;
    src: url("../assets/fonts/montserrat800.woff2") format("woff2");
    font-display: swap;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul,
li {
    list-style-type: none;
}

html {
    height: 100%;
}

body {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 1569px;
    min-height: 100%;
    margin: 0 auto;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 14px;
}

header,
footer {
    flex-shrink: 0;
}

main {
    flex-grow: 1;
}

.main-content {
    max-width: 1480px;
    margin: 0 auto;
    padding: 0 50px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.modal-open {
    overflow: hidden;
}

input[type="search"]::-webkit-input-placeholder {
    color: #AFAFAF;
}

input[type="search"]::-moz-placeholder {
    color: #AFAFAF;
}

.section {

    &__wrapper {
        display: flex;
        align-items: center;
        margin-bottom: 60px;
    }

    &__title {
        margin-right: 24px;
        font-weight: 700;
        font-size: 36px;
        line-height: 130%;
        color: #000000;
    }

    &__arrow {
        position: relative;
        z-index: 2;
        flex-grow: 1;
        height: 1px;
        margin-right: 24px;
        background-color: #AFAFAF;

        &::before {
            position: absolute;
            top: 0px;
            right: 0;
            transform: rotate(45deg);
            width: 1px;
            height: 4px;
            border-radius: 10px;
            background-color: #AFAFAF;
            content: "";
        }

        &::after {
            position: absolute;
            bottom: 0px;
            right: 0;
            transform: rotate(-45deg);
            width: 1px;
            height: 4px;
            border-radius: 10px;
            background-color: #AFAFAF;
            content: "";
        }
    }

    &__link {
        padding-right: 24px;
        background: url('../assets/img/arrow-black.svg') no-repeat center right;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        color: #1D4687;
        text-decoration: none;
    }
}

.quality {
    margin-bottom: 120px;
}

.reviews-block {
    margin-bottom: 120px;
}

