.section {
    &__wrapper {
        display: flex;
        align-items: center;
        margin-bottom: 60px;
    }

    &__title {
        margin-right: 24px;
        font-weight: 700;
        font-size: 36px;
        line-height: 130%;
        color: #000000;
    }

    &__arrow {
        position: relative;
        z-index: 2;
        flex-grow: 1;
        height: 1px;
        margin-right: 24px;
        background-color: #AFAFAF;

        &::before {
            position: absolute;
            top: 0px;
            right: 0;
            transform: rotate(45deg);
            width: 1px;
            height: 4px;
            border-radius: 10px;
            background-color: #AFAFAF;
            content: "";
        }

        &::after {
            position: absolute;
            bottom: 0px;
            right: 0;
            transform: rotate(-45deg);
            width: 1px;
            height: 4px;
            border-radius: 10px;
            background-color: #AFAFAF;
            content: "";
        }
    }

    &__link {
        padding-right: 24px;
        background: url('../assets/img/arrow-black.svg') no-repeat center right;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        color: #1D4687;
        text-decoration: none;
    }
}
