.slider {
    &__btns {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &--vacancy {
            position: absolute;
            z-index: 2;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
            width: 1380px;

            .slider__btn {
                margin-bottom: 0;
            }
        }
    }

    &__btn {
        width: 60px;
        height: 15px;
        margin-bottom: 32.5px;
        border: none;
        background: url('../assets/img/arrow-slider.svg') no-repeat center;
        cursor: pointer;
        background-size: contain;

        &--next {
            transform: rotate(180deg);
        }
    }

    &__carousel {
        overflow-x: hidden;
        &--quality,
        &--reviews {
            filter: drop-shadow(0px 16px 26px rgba(0, 0, 0, 0.07));
        }

        &--vacancy {
            width: 1142px;
            margin: 0 auto;
        }
    }

    &__content {
        position: relative;
        left: 0px;
        transition: left 0.6s;
        &--quality,
        &--reviews {
            display: flex;
            gap: 48px;

            .slider__item {
                min-width: 309px;
            }
        }

        &--clients {
            display: flex;

            .slider__item {
                display: flex;
                flex-direction: column;
                min-width: 276px;
            }
        }

        &--gallery {
            display: flex;
            gap: 48px;

            .slider__item {
                display: flex;
                flex-direction: column;
                min-width: 429px;
            }
        }

        &--vacancy {
            display: flex;
            gap: 48px;

            .slider__item {
                min-width: 1142px;
            }
        }
    }
}
