.estimate {
    &__title {
        margin-bottom: 24px;
    }

    &__section-title {
        margin-bottom: 60px;
        font-weight: 700;
        font-size: 36px;
        line-height: 130%;
    }

    &__descr {
        max-width: 664px;
        margin-bottom: 45px;
    }

    &__products {
        margin-bottom: 120px;
    }

    &__services {
        margin-bottom: 560px;

        .estimate-services__descr {
            font-size: 14px;
            line-height: 160%;
        }
    }

    &__team {
        margin-bottom: 120px;
    }
}
