.integration-kassist {
    display: flex;
    min-height: 400px;
    margin-bottom: 120px;

    &__wrapper {
        max-width: 600px;
    }

    &__title {
        margin-bottom: 60px;
        font-weight: 700;
        font-size: 36px;
        line-height: 130%;
    }

    &__descr {
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
    }

    &__decorative {
        position: absolute;
        z-index: -2;
        top: 538px;
        right: 0px;
        width: 1045px;
        height: 400px;
        background: url('../assets/img/integration/kassist.webp') no-repeat center;
    }

    &--individual {
        .integration-kassist__decorative {
            top: 3923px;
            background: url('../assets/img/integration/individual.webp') no-repeat center;
        }
    }
}
