.integration-benefits {
    margin-bottom: 516px;

    &__title {
        margin-bottom: 40px;
        font-weight: 700;
        font-size: 24px;
        line-height: 130%;
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(4, 300px);
        gap: 60px;
    }

    &__item {
        padding-top: 104px;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;

        &:nth-child(1) {
            background: url('../assets/img/integration/benefits1.svg') no-repeat top left;
            background-size: 80px;
        }

        &:nth-child(2) {
            background: url('../assets/img/integration/benefits2.svg') no-repeat top left;
            background-size: 80px;
        }

        &:nth-child(3) {
            background: url('../assets/img/integration/benefits3.svg') no-repeat top left;
            background-size: 80px;
        }

        &:nth-child(4) {
            background: url('../assets/img/integration/benefits4.svg') no-repeat top left;
            background-size: 80px;
        }
    }
}
