.left-banner {
    position: absolute;
    left: 0;
    display: flex;
    align-items: center;
    width: 1462px;
    height: 180px;
    background-color: #EA5B21;
    padding: 48px 331px;
    padding-right: 464px;

    &__title {
        flex-grow: 0;
        display: inline-block;
        margin-right: auto;
        font-weight: 700;
        font-size: 32px;
        line-height: 130%;
        color: #FFFFFF;
    }

    &__decorative {
        position: absolute;
        &--tablet {
            top: -95px;
            right: -31px;
            width: 455px;
            height: 350px;
            background: url('../assets/img/left-banner-tablet.webp') no-repeat center;
        }

        &--calc {
            top: -95px;
            right: -31px;
            width: 350px;
            height: 350px;
            background: url('../assets/img/calc.webp') no-repeat center;
        }
    }

    &::before {
        position: absolute;
        right: -105px;
        bottom: 0;
        width: 0px;
        height: 0px;
        border-top: 180px solid #EA5B21;
        border-right: 106px solid transparent;
        content: "";
    }

    .white2blue-btn {
        width: 190px;
    }


    &--presentation {
        top: 3745px;

        .left-banner__title {
            max-width: 375px;
        }

        &--building {
            top: 95px;
        }

        &--osah {
            top: 496px;
        }

        &--bank {
            top: 1794px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;
            padding: 24px 0 30px 331px;

            .left-banner__title {
                max-width: 810px;
            }

            .white2blue-btn {
                width: 406px;
                text-transform: uppercase;
            }
        }
    }

    &--calc {
        top: 2982px;
    }
}
