.right-banner {
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    width: 1462px;
    height: 180px;
    background-color: #EA5B21;
    padding: 48px 260px;
    padding-left: 298px;

    &__title {
        display: inline-block;
        max-width: 521px;
        margin-right: auto;
        font-weight: 700;
        font-size: 32px;
        line-height: 130%;
        color: #FFFFFF;

        &--person {
            margin-bottom: 16px;
        }
    }

    .white2blue-btn {
        width: 190px;
    }

    &__decorative {
        position: absolute;
        top: -85px;

        &--a4 {
            left: -63px;
            width: 350px;
            height: 350px;
            background: url('../assets/img/right-banner-a4.webp') no-repeat center;
        }

        &--envelope {
            left: -57px;
            width: 354px;
            height: 350px;
            background: url('../assets/img/right-banner-envelope.webp') no-repeat;
        }

        &--speaker {
            width: 354px;
            height: 350px;
            left: -57px;
            background: url('../assets/img/right-banner-speaker.webp') no-repeat;
        }

        &--person {
            top: -40px;
            left: -2px;
            width: 260px;
            height: 260px;
            border-radius: 50%;

            &--porina {
                background: url('../assets/img/team/porina.webp') no-repeat;
                background-size: 260px;
            }

            &--kokovihin {
                background: url('../assets/img/team/kokovihin.webp') no-repeat;
                background-size: 260px;
            }

            &--melnikova {
                background: url('../assets/img/team/melnikova.webp') no-repeat;
                background-size: 260px;
            }
        }

        &--vacancy {
            top: -85px;
            left: -57px;
            width: 354px;
            height: 350px;
            background: url('../assets/img/right-banner-vacancy.webp') no-repeat center;
            background-size: 354px 350px;
        }
    }

    &::before {
        position: absolute;
        left: -105px;
        bottom: 0;
        width: 0px;
        height: 0px;
        border-bottom: 180px solid #EA5B21;
        border-left: 106px solid transparent;
        content: "";
    }


    &--help {
        top: 1805px;

        &--phs {
            top: 85px;

            .white2blue-btn {
                width: 238px;
            }
        }

        .white2blue-btn {
            width: 238px;
        }
    }

    &--mailing {
        top: 85px;
    }

    &--reviews {
        top: 1719px;
    }

    &--person {
        padding: 32px;
        padding-left: 290px;
        padding-right: 260px;

        &--project {
            top: 2492px;
        }

        &--estimate {
            top: 2448px;
        }

        &--zms {
            top: 774px;
        }
    }

    &--vacancy {
        top: 85px;
        padding-left: 368px;

        .white2blue-btn {
            width: 222px;
        }
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
        width: 100%;

        &__column {
            display: flex;
            flex-direction: column;
        }
    }

    &__descr {
        max-width: 380px;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #FFFFFF;
    }

    &__more {
        margin-bottom: 32px;
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
        text-align: right;
        color: #FFFFFF;
    }

    &__contacts {
        display: flex;
        gap: 24px;
    }

    &__link--person {
        position: relative;
        padding-left: 40px;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        color: #FFFFFF;
        text-decoration: none;

        &::before {
            position: absolute;
            width: 24px;
            height: 24px;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            content: "";
        }

        &--mail {
            &::before {
                background: url('../assets/img/mail-white.svg') no-repeat center left;
            }
        }

        &--phone {
            &::before {
                background: url('../assets/img/phone-white.svg') no-repeat center left;
                transform: translateY(-50%) rotate(-90deg);
            }

        }
    }
}
