.clients {
    margin-bottom: 580px;
    &__list {
        display: grid;
        grid-template-columns: repeat(5, 276px);
    }

    &--estimate {
        height: 515px;
        margin-bottom: 120px;

        &-adept {
            margin-bottom: 120px;
        }
    }

    &--bank {
        margin-bottom: 125px;
    }
}
