.bank-capabilities {
    &__title {
        margin-bottom: 60px;
        font-size: 36px;
        line-height: 130%;
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(3, 427px);
        gap: 49px;
    }

    &__item {
        min-height: 24px;
        padding-left: 56px;
        background: url('../assets/img/solutions/capabilities.svg') no-repeat top left;
        font-size: 18px;
        line-height: 22px;
    }
}
